.dashboard-div {
    background-color: #ffffff;
    display: flex;
    min-height: calc(100% - 72px);
    flex-direction: column;
}

.greetings {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 8px;
    padding-bottom: 20px;
}

.status-header {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.status-box {
    margin: 0 auto;
    display: grid;
    max-height: 240x;
    height:auto;
    width: auto;
    grid-auto-flow: row;
    grid-template-columns: repeat(4, 120px);
    /* Create 4 columns */
    grid-template-rows: repeat(1, 120px);
    gap: 5vw;
    /* Adjust the gap between grid items */
    //justify-content: space-evenly;
}

@media (max-width: 950px) {

    /* For screens smaller than 768px (e.g., mobile), make it a single column layout */
    .status-box {
        grid-auto-flow: row;
        /* Flow items in rows */
        grid-template-columns: repeat(2, 120px);
        /* Single column layout */
        gap: 1vw;
    }

    .greetings {
        padding-bottom: 30px;
        text-align: center;
    }
}

.left-status {
    width: auto;
    display: flex;
    justify-content: center;
}

.right-status {
    width: auto;
    display: flex;
    justify-content: center;
}

.vacant {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-align: center;

    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 120px;
    height: 120px;
    background-color: #AFF4BE;
    border-radius: 20%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.occupied {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-align: center;

    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 120px;
    height: 120px;
    background-color: #FF9494;
    border-radius: 20%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.pending {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-align: center;

    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 120px;
    height: 120px;
    background-color: #f1ea82;
    border-radius: 20%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.reports {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-align: center;

    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 120px;
    height: 120px;
    background-color: #C6EEFF;
    border-radius: 20%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.university-map {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    position: relative;
    //width: 60%;
    max-width: 100%;
    height: auto;

    // button {
    //     padding: 5px 10px;
    //     text-transform: uppercase;
    //     border-radius: 8px;
    //     font-family: 'Poppins', sans-serif;
    //     font-size: 17px;
    //     font-weight: 500;
    //     color: #ffffff;
    //     text-shadow: none;
    //     background: #ff696983;
    //     box-shadow: transparent;
    //     border: 2px solid #ffffff;
    //     transition: 0.5s ease;
    //     user-select: none;
    // }
    
    button:hover {
        //box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #4b4b4b;
        transform: translateY(-0.2em);
    }
    
    // button:hover,:focus {
    //     color: #ffffff;
    //     background: #FF6969;
    //     border: 2px solid #FF6969;
    //     text-shadow: 0 0 5px #ffffff,
    //                 0 0 10px #ffffff,
    //                 0 0 20px #ffffff;
    //     box-shadow: 0 0 5px #FF6969,
    //                 0 0 20px #FF6969,
    //                 0 0 50px #FF6969,
    //                 0 0 100px #FF6969;
    // }

    .areaA {
    position: absolute;
    top: 43%;
    left: 34%;
    background: #82c8f186;

        padding: 5px 10px;
        text-transform: uppercase;
        border-radius: 8px;
        font-family: 'Poppins', sans-serif;
        font-size: 100%;
        font-weight: 500;
        color: #ffffff;
        text-shadow: none;
        box-shadow: transparent;
        border: 2px solid #ffffff;
        transition: 0.5s ease;
        user-select: none;
    }
    .areaB {
    position: absolute;
    top: 60%;
    left: 20%;
    background: #82c8f186;

        padding: 5px 10px;
        text-transform: uppercase;
        border-radius: 8px;
        font-family: 'Poppins', sans-serif;
        font-size: 100%;
        font-weight: 500;
        color: #ffffff;
        text-shadow: none;
        box-shadow: transparent;
        border: 2px solid #ffffff;
        transition: 0.5s ease;
        user-select: none;
    }
    .areaC {
    position: absolute;
    top: 80%;
    left: 36%;
    background: #82c8f186;

        padding: 5px 10px;
        text-transform: uppercase;
        border-radius: 8px;
        font-family: 'Poppins', sans-serif;
        font-size: 100%;
        font-weight: 500;
        color: #ffffff;
        text-shadow: none;
        box-shadow: transparent;
        border: 2px solid #ffffff;
        transition: 0.5s ease;
        user-select: none;
    }
    .back {
    position: absolute;
    top: 0%;
    left: 74%;
    background: #00000075;

        max-width: fit-content;
        padding: 5px 10px;
        text-transform: uppercase;
        border-radius: 8px;
        font-family: 'Poppins', sans-serif;
        font-size: 100%;
        font-weight: 500;
        color: #ffffff;
        text-shadow: none;
        box-shadow: transparent;
        border: 2px solid #ffffff;
        transition: 0.5s ease;
        user-select: none;
    }
}

.university-map-img {
    min-width: 50%;
    max-width: 95%;
    height: auto;
}


p {
    font-size: large;
}



.areaC-div1 {
    img {
        max-width: 90%;
    }

    button {
        border: 0;
        background-color: #00000000;
        max-width: 155%;
        height: auto;
    }

    position: absolute;
    display: flex;
    //gap: 1%;
    width: 64%;
    height: 21%;
    //max-width: 1115px; /* Set the maximum width */
    //max-height: 200px; /* Set the maximum height */
    //border: 3px solid black; /* Add a 5px black border */
    box-sizing: border-box; /* Include border in width and height calculations */
    top: 24%;
    left:33.7%
}
.areaC-div2 {
    img {
        max-width: 85%;
    }

    button {
        border: 0;
        background-color: #00000000;
        max-width: 155%;
        height: auto;
    }

    position: absolute;
    display: flex;
    //gap: 23.5%;
    width: 13.5%;
    height: 21%;
    //max-width: 1115px; /* Set the maximum width */
    //max-height: 200px; /* Set the maximum height */
    //border: 3px solid black; /* Add a 5px black border */
    box-sizing: border-box; /* Include border in width and height calculations */
    top: 24%;
    left:2%
}
.areaC-div3 {
    img {
        max-width: 85%;
    }

    button {
        border: 0;
        background-color: #00000000;
        max-width: 155%;
        height: auto;
    }

    position: absolute;
    display: flex;
    //gap: 8.8%;
    width: 68%;
    height: 31%;
    //max-width: 1115px; /* Set the maximum width */
    //max-height: 200px; /* Set the maximum height */
    //border: 3px solid black; /* Add a 5px black border */
    box-sizing: border-box; /* Include border in width and height calculations */
    top: 68%;
    left:4%
}
.areaB-div1 {
    img {
        max-width: 85%;
    }

    button {
        border: 0;
        background-color: #00000000;
        max-width: 155%;
        height: auto;
    }

    position: absolute;
    display: flex;
    //gap: 3.96%;
    width: 70.5%;
    height: 21%;
    //max-width: 1115px; /* Set the maximum width */
    //max-height: 200px; /* Set the maximum height */
    //border: 3px solid black; /* Add a 5px black border */
    box-sizing: border-box; /* Include border in width and height calculations */
    top: 24.5%;
    left: 2.8%;
}
.areaB-div2 {
    img {
        max-width: 85%;
    }

    button {
        border: 0;
        background-color: #00000000;
        max-width: 155%;
        height: auto;
    }

    position: absolute;
    display: flex;
    //gap: 23%;
    width: 12.8%;
    height: 21%;
    //max-width: 1115px; /* Set the maximum width */
    //max-height: 200px; /* Set the maximum height */
    //border: 3px solid black; /* Add a 5px black border */
    box-sizing: border-box; /* Include border in width and height calculations */
    top: 24.5%;
    left: 83%;
}
.areaB-div3 {
    img {
        max-width: 85%;
    }

    button {
        border: 0;
        background-color: #00000000;
        max-width: 155%;
        height: auto;
    }

    position: absolute;
    display: flex;
    //gap: 3.1%;
    width: 89.6%;
    height: 21%;
    //max-width: 1115px; /* Set the maximum width */
    //max-height: 200px; /* Set the maximum height */
    //border: 3px solid black; /* Add a 5px black border */
    box-sizing: border-box; /* Include border in width and height calculations */
    top: 61.5%;
    left: 5.2%;
}
.areaA-div1 {
    img {
        max-width: 90%;
    }

    button {
        border: 0;
        background-color: #00000000;
        max-width: 155%;
        height: auto;
    }

    position: absolute;
    display: flex;
    //gap: 3.82%;
    width: 80.5%;
    height: 22%;
    //max-width: 1115px; /* Set the maximum width */
    //max-height: 200px; /* Set the maximum height */
    //border: 3px solid black; /* Add a 5px black border */
    box-sizing: border-box; /* Include border in width and height calculations */
    top: 10.3%;
    left: 17%;
}
.areaA-div2 {
    img {
        max-width: 90%;
    }

    button {
        border: 0;
        background-color: #00000000;
        max-width: 155%;
        height: auto;
    }

    position: absolute;
    display: flex;
    //gap: 3.82%;
    width: 80.5%;
    height: 22%;
    //max-width: 1115px; /* Set the maximum width */
    //max-height: 200px; /* Set the maximum height */
    //border: 3px solid black; /* Add a 5px black border */
    box-sizing: border-box; /* Include border in width and height calculations */
    top: 42.9%;
    left: 17%;
}
.areaA-div3 {
    img {
        max-width: 90%;
    }

    button {
        border: 0;
        background-color: #00000000;
        max-width: 155%;
        height: auto;
    }

    position: absolute;
    display: flex;
    //gap: 3.82%;
    width: 80.5%;
    height: 22%;
    //max-width: 1115px; /* Set the maximum width */
    //max-height: 200px; /* Set the maximum height */
    //border: 3px solid black; /* Add a 5px black border */
    box-sizing: border-box; /* Include border in width and height calculations */
    top: 75.6%;
    left: 17%;
}