.dashboard-div {
    background-color: #ffffff;
    display: flex;
    min-height: calc(100% - 72px);
    flex-direction: column;
}

.greetings {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 8px;
    padding-bottom: 20px;
}

.status-header {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.status-box {
    margin: 0 auto;
    display: grid;
    height: auto;
    grid-auto-flow: row;
    grid-template-columns: repeat(4, 140px);
    /* Create 4 columns */
    grid-template-rows: repeat(1, 140px);
    gap: 5vw;
    /* Adjust the gap between grid items */
    //justify-content: space-evenly;
}

@media (max-width: 950px) {

    /* For screens smaller than 768px (e.g., mobile), make it a single column layout */
    .status-box {
        grid-auto-flow: row;
        /* Flow items in rows */
        grid-template-columns: repeat(2, 140px);
        /* Single column layout */
    }

    .greetings {
        padding-bottom: 30px;
        text-align: center;
    }
}

.left-status {
    display: flex;
    justify-content: space-evenly;
}

.right-status {
    display: flex;
    justify-content: space-evenly;
}

.vacant {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;

    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 140px;
    height: 140px;
    background-color: #AFF4BE;
    border-radius: 20%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.occupied {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;

    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 140px;
    height: 140px;
    background-color: #FF9494;
    border-radius: 20%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.pending {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;

    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 140px;
    height: 140px;
    background-color: #f1ea82;
    border-radius: 20%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.reports {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;

    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 140px;
    height: 140px;
    background-color: #C6EEFF;
    border-radius: 20%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.university-map {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    position: relative;
    //width: 60%;
    max-width: 100%;
    height: auto;

    button {
        padding: 10px 20px;
        text-transform: uppercase;
        border-radius: 8px;
        font-family: 'Poppins', sans-serif;
        font-size: 17px;
        font-weight: 500;
        color: #ffffff;
        text-shadow: none;
        background: #ff696983;
        box-shadow: transparent;
        border: 2px solid #ffffff;
        transition: 0.5s ease;
        user-select: none;
    }

    button:hover,:focus {
        color: #ffffff;
        background: #FF6969;
        border: 2px solid #FF6969;
        text-shadow: 0 0 5px #ffffff,
                    0 0 10px #ffffff,
                    0 0 20px #ffffff;
        box-shadow: 0 0 5px #FF6969,
                    0 0 20px #FF6969,
                    0 0 50px #FF6969,
                    0 0 100px #FF6969;
    }

    .areaA {
    position: absolute;
    top: 43%;
    left: 37%;
    background: #aff4be77;
    }
    .areaB {
    position: absolute;
    top: 60%;
    left: 32%;
    }
    .areaC {
    position: absolute;
    top: 80%;
    left: 40%;
    background: #f1ea8286;
    }
    .back {
    position: absolute;
    top: 0%;
    left: 74%;
    background: #00000075;
    }
}

.university-map img {
    min-width: 50%;
    max-width: 58%;
    height: auto;
}


p {
    font-size: large;
}

