<div class="dashboard-div">
  <div class="greetings">Hi, {{ Firstname }}!</div>
  <div class="status-header">Overview</div>
  <div class="status-box" *ngIf="mapState==0">
    <div class="vacant">
      Available<br /><br />
      {{AvailableParks_All}}
    </div>
    <div class="occupied">
      Occupied<br /><br />
      {{OccupiedParks_All}}
    </div>
    <div class="pending">
      Reports<br /><br />
      {{ReportedParks_All}}
    </div>
  </div>
  <div class="status-box" *ngIf="mapState==1">
    <div class="vacant">
      Available<br /><br />
      {{AvailableParks_A}}
    </div>
    <div class="occupied">
      Occupied<br /><br />
      {{OccupiedParks_A}}
    </div>
    <div class="pending">
      Reports<br /><br />
      {{ReportedParks_A}}
    </div>
  </div>
  <div class="status-box" *ngIf="mapState==2">
    <div class="vacant">
      Available<br /><br />
      {{AvailableParks_B}}
    </div>
    <div class="occupied">
      Occupied<br /><br />
      {{OccupiedParks_B}}
    </div>
    <div class="pending">
      Reports<br /><br />
      {{ReportedParks_B}}
    </div>
  </div>
  <div class="status-box" *ngIf="mapState==3">
    <div class="vacant">
      Available<br /><br />
      {{AvailableParks_C}}
    </div>
    <div class="occupied">
      Occupied<br /><br />
      {{OccupiedParks_C}}
    </div>
    <div class="pending">
      Reports<br /><br />
      {{ReportedParks_C}}
    </div>
  </div>
  <div class="university-map">
    <div *ngIf="dashSuspended" class="suspended-div">
      <p>Your account has been temporarily suspended for violating the terms of use. <br>
         Please visit CIT-U's Security and Safety Department to revoke your suspension.</p>
    </div>
    <div class="areaC-div1" *ngIf="mapState == 3">
      <!-- <div *ngFor="let index of [64, 65, 66, 67, 68, 69, 70, 71, 72, 73]"> -->
      <div *ngFor="let park of CD1">
        <button [id]="park.id" *ngIf="park.isReported" (click)="parkYellow(park)">
          <img src="assets/motorcycle-pending.png">
        </button>
        <button [id]="park.id" *ngIf="!park.isReported && park.isAvailable" (click)="parkGreen(park.id!, park.name)">
          <img src="assets/motorcycle-available.png">
        </button>
        <button [id]="park.id" *ngIf="!park.isReported && !park.isAvailable" (click)="parkRed(park)">
          <img src="assets/motorcycle-occupied.png">
        </button>
      </div>
    </div>
    <div class="areaC-div2" *ngIf="mapState == 3">
      <!-- <div *ngFor="let index of [74, 75]"> -->
      <div *ngFor="let park of CD2">
        <button [id]="park.id" *ngIf="park.isReported" (click)="parkYellow(park)">
          <img src="assets/motorcycle-pending.png">
        </button>
        <button [id]="park.id" *ngIf="!park.isReported && park.isAvailable" (click)="parkGreen(park.id!, park.name)">
          <img src="assets/motorcycle-available.png">
        </button>
        <button [id]="park.id" *ngIf="!park.isReported && !park.isAvailable" (click)="parkRed(park)">
          <img src="assets/motorcycle-occupied.png">
        </button>
      </div>
    </div>

    <div class="areaC-div3" *ngIf="mapState == 3">
      <!-- <div *ngFor="let index of [76, 77, 78, 79, 80, 81, 82]"> -->
      <div *ngFor="let park of CD3">
        <button [id]="park.id" *ngIf="park.isReported" (click)="parkYellow(park)">
          <img src="assets/car-pending.png">
        </button>
        <button [id]="park.id" *ngIf="!park.isReported && park.isAvailable" (click)="parkGreen(park.id!, park.name)">
          <img src="assets/car-available.png">
        </button>
        <button [id]="park.id" *ngIf="!park.isReported && !park.isAvailable" (click)="parkRed(park)">
          <img src="assets/car-occupied.png">
        </button>
      </div>
    </div>

    <div class="areaB-div1" *ngIf="mapState == 2">
      <!-- <div *ngFor="let index of [37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47]"> -->
      <div *ngFor="let park of BD1">
        <button [id]="park.id" *ngIf="park.isReported" (click)="parkYellow(park)">
          <img src="assets/motorcycle-pending.png">
        </button>
        <button [id]="park.id" *ngIf="!park.isReported && park.isAvailable" (click)="parkGreen(park.id!, park.name)">
          <img src="assets/motorcycle-available.png">
        </button>
        <button [id]="park.id" *ngIf="!park.isReported && !park.isAvailable" (click)="parkRed(park)">
          <img src="assets/motorcycle-occupied.png">
        </button>
      </div>
    </div>

    <div class="areaB-div2" *ngIf="mapState == 2">
      <!-- <div *ngFor="let index of [48, 49]"> -->
      <div *ngFor="let park of BD2">
        <button [id]="park.id" *ngIf="park.isReported" (click)="parkYellow(park)">
          <img src="assets/motorcycle-pending.png">
        </button>
        <button [id]="park.id" *ngIf="!park.isReported && park.isAvailable" (click)="parkGreen(park.id!, park.name)">
          <img src="assets/motorcycle-available.png">
        </button>
        <button [id]="park.id" *ngIf="!park.isReported && !park.isAvailable" (click)="parkRed(park)">
          <img src="assets/motorcycle-occupied.png">
        </button>
      </div>
    </div>

    <div class="areaB-div3" *ngIf="mapState == 2">
      <!-- <div *ngFor="let index of [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63]"> -->
      <div *ngFor="let park of BD3">
        <button [id]="park.id" *ngIf="park.isReported" (click)="parkYellow(park)">
          <img src="assets/motorcycle-pending.png">
        </button>
        <button [id]="park.id" *ngIf="!park.isReported && park.isAvailable" (click)="parkGreen(park.id!, park.name)">
          <img src="assets/motorcycle-available.png">
        </button>
        <button [id]="park.id" *ngIf="!park.isReported && !park.isAvailable" (click)="parkRed(park)">
          <img src="assets/motorcycle-occupied.png">
        </button>
      </div>
    </div>

    <div class="areaA-div1" *ngIf="mapState == 1">
      <!-- <div *ngFor="let index of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"> -->
      <div *ngFor="let park of AD1">
        <button [id]="park.id" *ngIf="park.isReported" (click)="parkYellow(park)">
          <img src="assets/car-pending.png">
        </button>
        <button [id]="park.id" *ngIf="!park.isReported && park.isAvailable" (click)="parkGreen(park.id!, park.name)">
          <img src="assets/car-available.png">
        </button>
        <button [id]="park.id" *ngIf="!park.isReported && !park.isAvailable" (click)="parkRed(park)">
          <img src="assets/car-occupied.png">
        </button>
      </div>
    </div>

    <div class="areaA-div2" *ngIf="mapState == 1">
      <!-- <div *ngFor="let index of [13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]"> -->
      <div *ngFor="let park of AD2">
        <button [id]="park.id" *ngIf="park.isReported" (click)="parkYellow(park)">
          <img src="assets/car-pending.png">
        </button>
        <button [id]="park.id" *ngIf="!park.isReported && park.isAvailable" (click)="parkGreen(park.id!, park.name)">
          <img src="assets/car-available.png">
        </button>
        <button [id]="park.id" *ngIf="!park.isReported && !park.isAvailable" (click)="parkRed(park)">
          <img src="assets/car-occupied.png">
        </button>
      </div>
    </div>

    <div class="areaA-div3" *ngIf="mapState == 1">
      <!-- <div *ngFor="let index of [25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36]"> -->
      <div *ngFor="let park of AD3">
        <button [id]="park.id" *ngIf="park.isReported" (click)="parkYellow(park)">
          <img src="assets/car-pending.png">
        </button>
        <button [id]="park.id" *ngIf="!park.isReported && park.isAvailable" (click)="parkGreen(park.id!, park.name)">
          <img src="assets/car-available.png">
        </button>
        <button [id]="park.id" *ngIf="!park.isReported && !park.isAvailable" (click)="parkRed(park)">
          <img src="assets/car-occupied.png">
        </button>
      </div>
    </div>
    <img [src]="mapImagePath" alt="University Map" class="university-map-img">
    <button *ngIf="mapState != 0" class="back" (click)="updateMapState(0)">Back</button>
    <button *ngIf="mapState == 0" class="areaA" (click)="updateMapState(1)">Area A</button>
    <button *ngIf="mapState == 0" class="areaB" (click)="updateMapState(2)">Area B</button>
    <button *ngIf="mapState == 0" class="areaC" (click)="updateMapState(3)">Area C</button>
    <!--<app-overall-map></app-overall-map>-->
  </div>
</div>
