<div class="dashboard-div">
  <div class="greetings">Hi, {{ Firstname }}!</div>
  <div class="status-header">Overview</div>
  <div class="status-box">
    <div class="vacant">
      Vacant<br /><br />
      9
    </div>
    <div class="occupied">
      Occupied<br /><br />
      {{mapState}}
    </div>
    <div class="pending">
      Pending<br /><br />
      10
    </div>
    <div class="reports">
      Reports<br /><br />
      20
    </div>
  </div>
  <div class="university-map">
    <div class="areaC-div1"></div>
    <img [src]="mapImagePath" alt="University Map">
    <button *ngIf="mapState != 0" class="back" (click)="updateMapState(0)">Back</button>
    <button *ngIf="mapState == 0" class="areaA" (click)="updateMapState(1)">Area A</button>
    <button *ngIf="mapState == 0" class="areaB" (click)="updateMapState(2)">Area B</button>
    <button *ngIf="mapState == 0" class="areaC" (click)="updateMapState(3)">Area C</button>

    <div class="areaC-div1"></div>
    <!--<app-overall-map></app-overall-map>-->
  </div>
</div>
