.main-container {
    font-family: 'Poppins', Courier, monospace;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    border-radius: 7px;
    margin: 0;
    box-shadow: 3px 3px 4px rgba(2, 2, 2, 0.2862745098);
    margin: 10px;
    padding: 25px 20px;

    .user-header {
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        font-weight: 600;
    }

    .document-container {
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    span.doc-infotxt {
        font-size: 1.5rem;
    }

    .text-documents,
    .image-documents {

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 9px 11px 9px 11px;
    }

    .documents {
        cursor: pointer;
        border: 1px solid black;
        width: 100px;
        height: 100px;
        object-fit: fill;
        margin: 4px;
    }

    span {
        font-weight: 500;
    }

    // buttons
    button {
        appearance: none;
        cursor: pointer;
    }

    .reject-btn,
    .accept-btn {
        border-radius: 4px;
        width: 100px;
        height: 30px;
        font-family: 'Poppins', Courier, monospace;
        font-size: 1rem;
        margin: 0 0 0.5rem 0;
    }

    .accept-btn,
    .reject-btn {
        margin: 10px;
    }

    .accept-btn {
        background-color: #FF9494;
        border: 1px solid red;
    }

    .reject-btn {
        background-color: skyblue;
        border: 1px solid blue;

    }

    //hover
    .accept-btn:hover {
        transition: 0.15s;
        background-color: #f56e6e;
    }

    .reject-btn:hover {
        background-color: rgb(89, 195, 236);
        transition: 0.15s;
    }

}


@media (max-width: 950px) {
    .main-container {
        .image-documents {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            // flex-grow: inherit;
            padding: 9px 11px 9px 11px;
        }

        .document-container,
        .image-documents {
            margin: 15px;
        }

        .user-header {
            font-size: 1.15rem;
            font-weight: 600;
        }
    }
}