<div class="main-container" *ngFor="let pendingUser of PendingUsers">
  <div class="user-header">
    {{pendingUser.Fullname}} ({{pendingUser.id}})

    <!-- Buttons -->
    <button id="accptBtn" class="accept-btn" (click)="approveUser(pendingUser)">Accept</button>
    <button id="rejctBtn" class="reject-btn" (click)="rejectUser(pendingUser)">Reject</button>
    <!-- end of Buttons -->
  </div>
  <br />
  <div class="user-body">
    <!-- txt documents -->
    <div class="text-documents">
      <!-- email -->
      <div class="document-container">
        <div class="doc-infotxt">
          <span>Email </span>
        </div>
        {{pendingUser.email}}
      </div>
      <!-- Vehicle Make -->
      <div class="document-container">
        <div class="doc-infotxt">
          <span>Vehicle Make </span>
        </div>
        {{pendingUser.VMake}}
      </div>
      <!-- Vehicle Model -->
      <div class="document-container">
        <div class="doc-infotxt">
          <span>Vehicle Model </span>
        </div>
        {{pendingUser.VModel}}
      </div>
      <div class="document-container">
        <div class="doc-infotxt">
          <span>Vehicle Plate Number </span>
        </div>
        {{pendingUser.VPlateNo}}
      </div>
    </div>

    <!-- image docs -->
    <div class="image-documents">
      <!-- OR documents -->
      <div class="document-container">
        <span>OR Document</span>
        <div class="documents">
          <img src="{{pendingUser.ORdoc}}" alt="OR Document" height="100" width="100" (click)="openImageModal(pendingUser.ORdoc!)"/>
        </div>
      </div>

      <!-- CR document -->
      <div class="document-container">
        <span>CR Document</span>
        <div class="documents">
          <img src="{{pendingUser.CRdoc}}" alt="CR Document" height="100" width="100" (click)="openImageModal(pendingUser.CRdoc!)"/>
        </div>
      </div>

      <!-- Study Load document -->
      <div class="document-container">
        <span>Study Load</span>
        <div class="documents">
          <img src="{{pendingUser.StudyLoad}}" alt="Study Load" height="100" width="100" (click)="openImageModal(pendingUser.StudyLoad!)"/>
        </div>
      </div>

      <!-- ID document -->
      <div class="document-container">
        <span>ID Document</span>
        <div class="documents">
          <img src="{{pendingUser.IDdoc}}" alt="ID document" height="100" width="100" (click)="openImageModal(pendingUser.IDdoc!)"/>
        </div>
      </div>
      <!-- Payment document -->
      <div class="document-container">
        <span>Payment</span>
        <div class="documents">
          <img src="{{pendingUser.Payment}}" alt="Payment" height="100" width="100" (click)="openImageModal(pendingUser.Payment!)"/>
        </div>
      </div>
    </div>
  </div>
</div>
