.container {
  position: relative;
  //width: 50%;
}

.area1 {
    position: absolute;
    top: 45%;
    left: 28%;
}

button {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 3px 3px 5px rgb(0, 0, 0);
  background: transparent;
  box-shadow: transparent;
  border: 2px solid #ffffff;
  transition: 0.5s ease;
  user-select: none;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

button:hover,:focus {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff,
              0 0 10px #ffffff,
              0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff,
              0 0 20px #008cff,
              0 0 50px #008cff,
              0 0 100px #008cff;
}