<app-registered-users-search></app-registered-users-search>
<div class="main-container" *ngFor="let registeredUser of RegisteredUsers">
    <div class="user-header">
      {{registeredUser.Fullname}} ({{registeredUser.id}})
  
      <!-- Buttons -->
      <button id="rejctBtn" class="reject-btn" *ngIf="user.Level != 1 && user.Level != 2" (click)="deleteUserConfirmation(registeredUser)">Delete</button>
      <!-- end of Buttons -->
    </div>
    <br />
    <div class="user-body">
      <!-- txt documents -->
      <div class="text-documents">
        <!-- email -->
        <div class="document-container">
          <div class="doc-infotxt">
            <span>Email </span>
          </div>
          {{registeredUser.email}}
        </div>
        <!-- Vehicle Make -->
        <div class="document-container">
          <div class="doc-infotxt">
            <span>Vehicle Make </span>
          </div>
          {{registeredUser.VMake}}
        </div>
        <!-- Vehicle Model -->
        <div class="document-container">
          <div class="doc-infotxt">
            <span>Vehicle Model </span>
          </div>
          {{registeredUser.VModel}}
        </div>
        <div class="document-container">
          <div class="doc-infotxt">
            <span>Vehicle Plate Number </span>
          </div>
          {{registeredUser.VPlateNo}}
        </div>
      </div>
  
      <!-- image docs -->
      <div class="image-documents">
        <!-- OR documents -->
        <div class="document-container">
          <span>OR Document</span>
          <div class="documents">
            <img src="{{registeredUser.ORdoc}}" alt="OR Document" height="100" width="100" (click)="openImageModal(registeredUser.ORdoc!)"/>
          </div>
        </div>
  
        <!-- CR document -->
        <div class="document-container">
          <span>CR Document</span>
          <div class="documents">
            <img src="{{registeredUser.CRdoc}}" alt="CR Document" height="100" width="100" (click)="openImageModal(registeredUser.CRdoc!)"/>
          </div>
        </div>
  
        <!-- Study Load document -->
        <div class="document-container">
          <span>Study Load</span>
          <div class="documents">
            <img src="{{registeredUser.StudyLoad}}" alt="Study Load" height="100" width="100" (click)="openImageModal(registeredUser.StudyLoad!)"/>
          </div>
        </div>
  
        <!-- ID document -->
        <div class="document-container">
          <span>ID Document</span>
          <div class="documents">
            <img src="{{registeredUser.IDdoc}}" alt="ID document" height="100" width="100" (click)="openImageModal(registeredUser.IDdoc!)"/>
          </div>
        </div>
        <!-- Payment document -->
        <div class="document-container">
          <span>Payment</span>
          <div class="documents">
            <img src="{{registeredUser.Payment}}" alt="Payment" height="100" width="100" (click)="openImageModal(registeredUser.Payment!)"/>
          </div>
        </div>
      </div>
    </div>
  </div>
