* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', Courier, monospace;
}

.main_user_profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.user_details,
.user_info {
    display: flex;
    align-items: center;
}

.user_details {
    padding: 4rem 0 3rem 0;
    flex-direction: column;
    

    .user_info {
        align-items: center;
        justify-content: center;
        opacity: 58%;
        background-color: #FF6969;
        width: 3.5em;
        height: 3.3em;
        border-radius: 5px;
        margin: 0 0 0.8em 0;

        .box_user_info {
            font-size: 1.5em;
            font-weight: 600;
            color: #BB2525;
        }
    }

    .user_id {
        font-size: 1.15em;
        color: #545151;
    }

    .user_name{
        font-size: 1.2em;
        padding: 0 0 0.2em 0;
    }
}

.main_expansion_container{
    width: 100%;
    padding: 0 3em 0 3em;

    .mat-expansion-panel{
        border-radius: 8px;
        background-color: #D9D9D9;
    }
}

.mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }

//modal
.modal-body {
    display: flex;
    flex-direction: column;

    .text-documents, .image-documents {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        padding: 9px 11px 9px 11px;
    }

    .document-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
            font-weight: 600;
        }

        .documents {
            border: 1px solid black;
            width: 100px;
            height: 100px;
            object-fit: fill;
            margin: 4px;
        }
    }
}