<section class="main_user_profile">
  <!-- UserName Name and Email -->
  <div class="user_details">
    <div class="user_info">
      <div class="box_user_info">{{intitials}}</div>
    </div>
    <div class="user_name">{{ user.Fullname }}</div>
    <div class="user_id">({{ user.id }})</div>
  </div>
  <!-- End of UserName Name and Email -->

  <!-- expansion panel -->
  <div class="main_expansion_container">
    <!-- left pannel -->
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header  *ngIf="user.Level==1">
        <mat-panel-title> Violation History </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let report of userReports" class="notif-container">
        <div class="notif-header">
          <div class="notif-type">{{ this.report.type }}</div>
          <span class="date">{{ this.report.date }}</span>
        </div>
        <div class="message-container">
          <div class="notif-message">
            {{ this.report.description }}
          </div>
        </div>
      </div>
    </mat-expansion-panel>
    <!-- end of left panel -->
    <br />
    <!-- right panel -->
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Account Details </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="modal-body" *ngIf="user.Level==1; else AdminOrModerator">
        <!-- txt documents -->
        <div class="text-documents">
          <!-- email -->
          <div class="document-container">
            <div class="doc-infotxt">
              <span>Email </span>
            </div>
            {{user.email}}
          </div>
          <!-- Vehicle Make -->
          <div class="document-container">
            <div class="doc-infotxt">
              <span>Vehicle Make </span>
            </div>
            {{user.VMake}}
          </div>
          <!-- Vehicle Model -->
          <div class="document-container">
            <div class="doc-infotxt">
              <span>Vehicle Model </span>
            </div>
            {{user.VModel}}
          </div>
          <div class="document-container">
            <div class="doc-infotxt">
              <span>Vehicle Plate Number </span>
            </div>
            {{user.VPlateNo}}
          </div>
        </div>
  
        <!-- image docs -->
        <div class="image-documents">
          <!-- OR documents -->
          <div class="document-container">
            <span>OR Document</span>
            <div class="documents">
              <img src="{{user.ORdoc}}" alt="OR Document" height="100" width="100" (click)="openImageModal(user.ORdoc!)"/>
            </div>
          </div>
  
          <!-- CR document -->
          <div class="document-container">
            <span>CR Document</span>
            <div class="documents">
              <img src="{{user.CRdoc}}" alt="CR Document" height="100" width="100" (click)="openImageModal(user.CRdoc!)"/>
            </div>
          </div>
  
          <!-- Study Load document -->
          <div class="document-container">
            <span>Study Load</span>
            <div class="documents">
              <img src="{{user.StudyLoad}}" alt="Study Load" height="100" width="100" (click)="openImageModal(user.StudyLoad!)"/>
            </div>
          </div>
  
          <!-- ID document -->
          <div class="document-container">
            <span>ID Document</span>
            <div class="documents">
              <img src="{{user.IDdoc}}" alt="ID document" height="100" width="100" (click)="openImageModal(user.IDdoc!)"/>
            </div>
          </div>
          <!-- Payment document -->
          <div class="document-container">
            <span>Payment</span>
            <div class="documents">
              <img src="{{user.Payment}}" alt="Payment" height="100" width="100" (click)="openImageModal(user.Payment!)"/>
            </div>
          </div>
        </div>
      </div>
      <ng-template #AdminOrModerator>
        <div class="modal-body">
          <!-- txt documents -->
          <div class="text-documents">
            <!-- Admin Or Moderator -->
            <div class="document-container">
              <div class="doc-infotxt">
                <span *ngIf="user.Level==2; else admin">This Account is a Moderator</span>
                <ng-template #admin>
                  <span>This Account is an Administrator</span>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-expansion-panel>
    <!-- end of right panel -->
  </div>
  <!-- end of expansion panel -->
</section>

