<section class="main-container">
  <!-- header -->
  <div class="header">
    <span class="h-notif-name">Notifications</span>
    <!-- <span id = "clearNotif" (click)="clearNotifConfirmation()" class="h-clearNotif">Clear all notifications</span> -->
  </div>
  <!-- end of header -->

  <!-- notif container -->
  <div class="main-notif-container">
    <div *ngFor="let report of userReports" class="notif-container">
      <div class="notif-header">
        <div class="notif-type">{{ report.type }}</div>
        <span class="date">{{ report.date }}</span>
      </div>
      <div class="message-container">
        <div class="notif-message">
          {{ report.description }}
        </div>
      </div>
    </div>
    <!-- end of notif container -->
  </div>

  <!-- end of notif container -->
</section>
