h4,
p {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', Courier, monospace;
    background-color: #dddada;
    margin: 2vh 7.5rem 0 7.5rem;
    padding: 2vh 1.8rem;
    height: 80vh;
    border-radius: 10px;

    .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    .h-notif-name {
        font-size: 1rem;
        font-weight: 600;
    }

    .h-clearNotif {
        color: #FF6969;
        font-weight: 600;
    }

    .main-notif-container {
        overflow: auto;
        scroll-behavior: smooth;

        .date{
            margin-left: 9px;
            border-bottom: 1px solid black;
            font-weight: 500;
        }
    }
}

.notif-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.7rem;
}

.notif-container {
    margin-bottom: 2.9rem;
}

.notif-type {
    display: flex;
    justify-content: center;
    width: fit-content;
    background-color: #FF6969;
    color: white;
    border-radius: 5px;
    padding: .5rem 1rem;
}

.message-container {
    display: flex;
    flex-direction: column;

    .notif-message {
        padding-bottom: 0.8rem;
        border-bottom: 2px solid #CFCFCF;
    }

    .context,
    .heading {
        font-family: 'Poppins', Courier, monospace;
    }

    .heading {
        font-weight: 600;
    }
}

//scrollbar
.main-notif-container {
    -ms-overflow-style: none; //for edge and internet explorer
    scrollbar-width: none; // for firefox
}

.main-notif-container::-webkit-scrollbar {
    display: none; //chrome safari and opera
}

@media (max-width: 600px) {
    .main-container {
        margin-right: 2rem;
        margin-left: 2rem;
    }
}