
/* Add this CSS to your existing styles.css or a separate CSS file */
p{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", Courier, monospace;
    background-color: #f4f4f4;
}

h2{
    margin: 0;
    padding: 0;
}


.feedbackMain {
    display:flex;
    align-items: center;
    flex-direction: column;
}

.feedback-helpusimp{
    width: fit-content;
}
    

.side-feedback {
    width: 37%;
    object-fit: cover;
    float:left;
    margin-left: 50%;
    margin-top: 5%;
}

.container {
    max-width: 600px;
    margin-left:2rem;
    margin-top: 7%;
    padding: 5rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    float: left;
}

.form-group{
    padding: 0px;
    max-width: inherit;
    border-color:black;

}



.maincontainer{
    display:flex;
    flex-direction: row;
}

.container 
{

    font-family: "Poppins", Courier, monospace;

    #feedbackType
    {
        font-family: "Poppins", Courier, monospace;
    }

    .btnSubmit{
        font-family: "Poppins", Courier, monospace;
    }
}


.feedback-container {
    @extend .container; 
    
}

.maincontent {
    width: fit-content;
    border: 1px solid black;
    border-radius: 5px;
    margin-top:1rem;
    .upper {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        
    }

    .feedback-content {
        padding: 1rem;
       
    }
}



.form-group {
    margin-bottom: 15px;
    font-family: "Poppins", Courier, monospace;
}

label {
    font-weight: bold;
}

select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #BB2525;  
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #910D0D;
}


.upper,
.user_info {
    display: flex;
    align-items: center;
}

.upper {
    padding: 4rem 0 3rem 0;
    
    .category {
        
    }

    .user_info {
        align-items: center;
        justify-content: center;
        opacity: 58%;
        background-color: #FF6969;
        width: 3.5em;
        height: 3.3em;
        border-radius: 5px;


        .box_user_info {
            font-size: 1.5em;
            font-weight: 600;
            color: #BB2525;
        }
    }

} 