
<body>

<section class = "feedbackMain">
    
    <h2>Help Us Improve - Send Your Feedback</h2>
    
    <img
    class="side-feedback"
    src="../../../assets/svg/feedback.svg"
    alt="feedback"
    />

    <div class="container">
        <form>
            <div class="form-group">
                <label for="feedbackType">Feedback Type</label>
                <select id="feedbackType" name="feedbackType" required>
                    <option value="suggestion">Suggestion</option>
                    <option value="bug">Bug Report</option>
                    <option value="compliment">Compliment</option>
                </select>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" rows="4" required></textarea>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</section>


    
    
</body>
