<section class="feedbackMain">
  <div class="feedback-helpusimp">
    <h2>Help Us Improve - Send Your Feedback</h2>
  </div>

  <!-- <img
    class="side-feedback"
    src="../../../assets/svg/feedback.svg"
    alt="feedback"
    /> -->

  <div class="maincontainer">
    <div class="container">
      <form [formGroup]="feedbackForm" (ngSubmit)="submit()">
        <div class="form-group">
          <label for="feedbackType">Feedback Type</label>
          <select id="feedbackType" name="feedbackType" required formControlName="type">
            <option value="Suggestion">Suggestion</option>
            <option value="Bug Report">Bug Report</option>
            <option value="Compliment">Compliment</option>
            <option value="Complaint">Complaint</option>
          </select>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea 
            formControlName="desc"
            id="description"
            name="description"
            rows="4"
            required
          ></textarea>
        </div>
        <button class="btnSubmit" type="submit">Submit</button>
      </form>
    </div>

    <div class="feedback-container" >
      <p>Recent Feedbacks</p>
      <div class="maincontent" *ngFor="let feedback of recentFeedbacks">
        <div class="upper" >
          <div class="user_info">
            <div class="box_user_info">{{ feedback.name.charAt(0) }}</div>
          </div>
          <p class="name"> {{ feedback.name }} </p>
          <p class="category"><strong>{{ feedback.type }}</strong></p>
        </div>

        <div class="feedback-content">
          <label>Description</label>
          <div class="suggestion">
            <p>{{ feedback.desc }}</p>
          </div>
        </div>
      </div>
    </div>
    


  </div>






  
</section>
