* {
    box-sizing: border-box;
  }
  
  .wrapper {
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
    width: 300px;
  }
  
  input {
    width:100%;
    border: none;
    height: 40px;
    border-radius: 5px;
    padding: 0px 40px 0px 10px;
    font-size: 15px;
    background: rgba(226, 195, 195, 0.899);
  
  }
  
  input::placeholder {
    color: #ffffff; /* Set the color you want for the placeholder */
  }
  
  input:focus {
    outline: none;
  }
  
  button {
    position: absolute;
    border: none;
    background:none;
    top: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    padding: 0;
    width: 50px;
  }
  
  button:focus {
    outline: none;
  }
  
  