<section class="main-container">
  <!-- right content -->
  <aside class="right-content">
    <div class="user-profile">
      {{ calculateInitials(user) }}
    </div>
    <div class="user-name-id">
      {{ user.Fullname }}
      <span class="user-id"> {{ user.id }}</span>
    </div>
    <div class="num-of-penalties">
      Number of Reports:
      <span class="penalties-ctr">50</span>
    </div>
    <div *ngIf="!user.isSuspended; else elseBlock" class="suspend-acc-button4" (click)="suspendAccConfirm()" >Suspend Account</div>
    <ng-template #elseBlock>
      <div class="suspend-acc-button1" (click)="suspendAccConfirm()" >Unsuspend Account</div>
    </ng-template>
  </aside>
  <!-- end of right content -->

  <!-- left content -->
  <main class="left-content">
    <form action="" class="msg-to-user">
      <textarea class="text-input" name="" id="" cols="30" rows="10">
      </textarea>
    </form>
    <button id="sendMsg" (click)="sendMessageConfirm()" class="send-msg-btn">Send Message</button>

    <div class="user-report-history"> User Report History</div>

    <div class="sent-msg-hstr">
      <div class="msg-sent">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim est
          similique quas vel asperiores odio quod alias voluptatum ex eius esse
          repudiandae, animi fugiat et aut minima. Voluptate, odit eveniet.
        </p>
        <span class="date">mm/dd/yy</span>
      </div>
      <div class="msg-sent">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim est
          similique quas vel asperiores odio quod alias voluptatum ex eius esse
          repudiandae, animi fugiat et aut minima. Voluptate, odit eveniet.
        </p>
        <span class="date">mm/dd/yy</span>
      </div>
      <div class="msg-sent">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim est
          similique quas vel asperiores odio quod alias voluptatum ex eius esse
          repudiandae, animi fugiat et aut minima. Voluptate, odit eveniet.
        </p>
        <span class="date">mm/dd/yy</span>
      </div>
      <div class="msg-sent">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim est
          similique quas vel asperiores odio quod alias voluptatum ex eius esse
          repudiandae, animi fugiat et aut minima. Voluptate, odit eveniet.
        </p>
        <span class="date">mm/dd/yy</span>
      </div>
      <div class="msg-sent">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim est
          similique quas vel asperiores odio quod alias voluptatum ex eius esse
          repudiandae, animi fugiat et aut minima. Voluptate, odit eveniet.
        </p>
        <span class="date">mm/dd/yy</span>
      </div>
    </div>
  </main>
  <!-- end of left content -->
</section>
