p,
span,
a {
    margin: 0px;
    text-decoration: none;
}

.left-content {
    justify-content: center;
    align-items: center;
}

.main-container,
.right-content,
.user-name-id {
    display: flex;
}

.right-content,
.user-name-id {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-container {
    flex-direction: row;
    font-family: 'Poppins', Courier, monospace;
    height: calc(100% - 72px);

    .right-content {
        background-color: #FFFFFF;
        height: calc(100vh - 72px);
        width: calc(100% - 55%);
        margin: 2px;

        .user-profile {
            background-color: #FF6969;
            color: #BB2525;
            font-size: 1.5rem;
            font-weight: 500;
            padding: 1.188rem 0.75rem 1.188rem 0.75rem;
            border-radius: 5px;
            margin-bottom: 8px;
        }

        .user-name-id {
            font-size: 1.5rem;
            font-weight: 500;

            .user-id {
                font-weight: 400;
                color: #CFCFCF;
            }
        }

        .num-of-penalties {
            font-size: 1.25rem;
            font-weight: 500;
            margin-top: 1.875rem;

            .penalties-ctr {
                color: #BB2525;
                font-weight: 600;
            }
        }

        .suspend-acc {
            margin-top: 5rem;
            font-size: 1.5rem;
            font-weight: 500;
        }

        .suspend-acc-button1 {
            background-color: rgba(29, 78, 254, 0.58);
        }

        .suspend-acc-button2 {
            background-color: rgba(254, 29, 29, 0.63);
        }

        .suspend-acc-button3 {
            background-color: rgba(254, 29, 29, 0.74);
        }

        .suspend-acc-button4 {
            background-color: rgba(254, 29, 29, 0.89);
        }
    }

    .left-content {
        display: flex;
        flex-direction: column;
        background-color: #D9D9D9;
        margin: 4.375rem 2.125rem 4.375rem 2.125rem;
        border-radius: 25px;
        width: 100%;

        .text-input {
            font-family: 'Poppins', Courier, monospace;
            font-size: 1rem;
            padding: 1.5rem;
            margin-top: 3.5rem;
            resize: none;
            border-radius: 7px;
            width: 100vh;
            height: 9.438rem;
        }

        .send-msg-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            width: 13rem;
            height: 2.313rem;
            margin: 0.938rem auto;
            /* Set margin-top and margin-bottom to auto */
            border-radius: 5px;
            font-size: 1rem;
            font-weight: 500;
            background-color: rgba(254, 29, 29, 0.63);
        }

        .sent-msg-hstr {
            overflow: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow-y: scroll;
            scroll-behavior: smooth;
            height: 50vh;
            margin-bottom: 1rem;

            .msg-sent {
                display: flex;
                flex-direction: column;
                text-align: start;
                margin-top: 15px;
                padding: 1.875rem 1.5rem 1.875rem 1.5rem;
                border-radius: 7px;
                background-color: #FFFFFF;
                width: 90%;
                max-width: 100vh;
                font-size: 1rem;

                

                .msg-sent-header{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 0.7rem;

                    .date{
                        margin-left: 9px;
                        border-bottom: 1px solid black;
                        font-weight: 500;
                    }

                    .type{
                        margin-left: 9px;
                        font-weight: 500;
                        color: white;
                        padding: 0.288rem 0.325rem 0.288rem 0.325rem;
                        background-color: rgba(254, 29, 29, 0.63);
                        border-radius: 3px;
                    }

                }

            }
        }
    }

    .user-report-history{
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
    }

}

//buttons
.suspend-acc-button1,
.suspend-acc-button2,
.suspend-acc-button3,
.suspend-acc-button4,
.send-msg-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 13rem;
    height: 2.313rem;
    margin-top: 0.938rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
}


.user-id,
.penalties-ctr {
    font-size: 1.25rem;
    margin: 8px 0px 8px 0px;
}

//scrollbar
.sent-msg-hstr {
    -ms-overflow-style: none; //for edge and internet explorer
    scrollbar-width: none; // for firefox
}

.sent-msg-hstr::-webkit-scrollbar {
    display: none; //chrome safari and opera
}