  h2{
    display: flex;
    justify-content: center; // Center the buttons horizontally
    align-items: center; // Center the buttons vertically
  }

  mat-dialog-content{
    display: flex;
    flex-direction: column; 
    text-align: center;
  }
mat-dialog-actions {
    display: flex;
    justify-content: center; // Center the buttons horizontally
    align-items: center; // Center the buttons vertically
  
    button {
      margin: 0 8px; // Add some spacing between the buttons
    }
  }