<section class="main_container">
  <img
    class="left-landing"
    src="../../../assets/svg/parking-logo.svg"
    alt="parklogo"
  />

  <div class="right-landing">
    <div class="rAppName">
      <p class="webName">Parking<span class="webName_pal">PAL</span></p>
    </div>

    <p class="container__info">Sign in to ParkingPAL</p>
    <p class="container__info1">Enter your account details below</p>

    <!-- Forms section -->
    <form class="right__forms" [formGroup]="loginForm" (ngSubmit)="login()">

      <!-- Input Email -->
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" />
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    
      <button mat-raised-button type="submit">Sign In</button>

      <p class="right__forgotpass">Forgot Password?</p>

      <!-- Don't Have acc? -->
      <div class="right__donthaveacc">
        <p class="right__donthaveacctxt">Don't have an account?</p>
        <button mat-button color="warn" routerLink="/register">Get Started</button>
      </div>
    </form>

    <!-- Sign in to ParkingPAL
    <div class="right__landing__signin">
      
    </div> -->
  </div>
</section>
