<a id="backToTopButton" class="back-to-top-button" (click)="scrollToTop()">
    <i class="fas fa-arrow-up"></i>
</a>
<div class="feedback-container" >
    <h2>All Feedbacks</h2>
    <div class="maincontent" *ngFor = "let Feedback of allFeedbacks">
      <div class="upper" >
        <div class="user_info">
          <div class="box_user_info">{{ Feedback.name.charAt(0) }}</div>
        </div>
        <p class="name"> {{ Feedback.name }} </p>
        <p class="category"><strong>{{ Feedback.type }}  </strong></p>
      </div>
     <div class = "dateholder">

       <label>Date</label>
     </div> 
      <div class="feedback-content">
        <label>Description</label>
        <div class="suggestion">
          <p> {{ Feedback.desc }}</p>
        </div>
      </div>
      
      <!-- Buttons -->
    <button id="deleteBtn" class="delete-btn" *ngIf="user.Level != 1" (click)="deleteFeedback(Feedback.id)">Delete</button>
    <!-- end of Buttons -->


    </div>
    
  </div>

  