// input[type="file"]{
//   display: none;
//   background-color: #BB2525;
//   color: #FFFFFF;
//   font-family: 'Poppins', Courier, monospace;

// }
// label{
//     font-family: 'Poppins', Courier, monospace;
//     color: #FFFFFF;
//     background-color: #BB2525;
//     margin: auto;
// }

p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

span {
    color: #BB2525;
    font-weight: 500;
}

.combine-basic-vehicle-info{
    width: fit-content;
}

.upload-box {
    padding: 0 0 3rem 0;
    font-size: 1em;
    background-color: #FFFFFF;
    outline: none;
}

::-webkit-file-upload-button {
    color: #FFFFFF;
    font-size: 1.5em;
    font-family: 'Poppins', Courier, monospace;
    background-color: #BB2525;
    border: 0;
    border-radius: 5px;
    max-width: 100%;
    width: fit-content;
    height: 3rem;
    padding: 0.7rem 3.313rem 0.7rem 3.313rem;
}

::-webkit-file-upload-button:hover {
    transition-duration: 0.5s;
    color: black;
    background: #FF6F6F;
}

mat-label{
    font-family: 'Poppins', Courier, monospace;
    font-size: 0.9rem;
}

mat-form-field{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22.75rem;
    height: 4.7rem;
}

.main__information__texttitles {
    width: 165px;
    min-width: 100%;
    font-size: 1.2rem;
    font-weight: bolder;
    font-family: 'Poppins', Courier, monospace;
}


.information__texttitles {
    width: 165px;
    min-width: 100%;
    font-size: 1rem;
    font-weight: 200;
    font-family: 'Poppins', Courier, monospace;
}

.main__container__grid {
    padding: 5rem 0 0 0;
    display: flex;
    justify-content: space-evenly;
    align-items: start;

    .main__basicinformation,
    .main__vehicleinformation,
    .main__uploadreqdoc {
        box-shadow: 5px 5px 15px #88555581;
        border-radius: 6px;
        padding: 2em;
        // border-radius: 1em;
        margin: 1.5em 0 1.2em 0;

        // width: 100vh;
        // max-width: fit-content;
    }

    .main__basicinformation {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main__uploadreqdoc {
        width: fit-content;
        height: 100vh;
        display: flex;
        flex-direction: column;

        button[mat-raised-button] {
            margin: 1.2em 0 0 0;
            width: 22.75rem;
            color: white;
            background-color: #141E46;
            font-size: 1.6em;
            font-family: 'Poppins', Courier, monospace;
            font-weight: 500;
            border-radius: 8px;
            padding: 25px 0 25px 0;
        }

        button[mat-raised-button]:hover {
            margin: 1.2em 0 0 0;
            color: #141E46;
            background-color: #BB2525;
            font-size: 1.6em;
            font-family: 'Poppins', Courier, monospace;
            font-weight: 500;
            border-radius: 8px;
            padding: 25px 0 25px 0;
        }
    }
}

@media (max-width: 950px) {
    .main__container__grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}