<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>ParkPAL</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="">Dashboard</a>
      <mat-list>
        <a mat-list-item href=""><mat-icon mat-list-icon>arrow_right</mat-icon>Parking Area A</a>
        <a mat-list-item href=""><mat-icon mat-list-icon>arrow_right</mat-icon>Parking Area B</a>
        <a mat-list-item href=""><mat-icon mat-list-icon>arrow_right</mat-icon>Parking Area C</a>
      </mat-list>
      <a mat-list-item href="">{{Firstname}}</a>
      <a mat-list-item href="">Reports History</a>
      <a mat-list-item href="terms-and-conditions">Terms and Conditions</a>
      <a mat-list-item href="">Data Privacy Statement</a>
      <a mat-list-item href="">Feedback</a>
      <a mat-list-item href="/" (click)="logout()">Logout</a>
  </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="custom-toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="toolbar-elements">
        <div class="left-elements">
          <div class="page-header">DASHBOARD</div>
          <div class="date-container">
            <div class="day">{{ currentDay }}</div><div class="date">{{ currentDate }}</div>
          </div>
        </div>
        <div class="right-elements">
          <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
            <mat-icon aria-label="notifications icon">notifications_none</mat-icon>
          </button>
          <!-- <div style="display: flex; align-items: center;">
            <span style="margin-left: 10px; margin-right: -6px;">{{Firstname}}</span>
            <button
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()">
              <mat-icon aria-label="keyboard arrow down">keyboard_arrow_down</mat-icon>
            </button>
          </div> -->
        </div>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
