a {
  text-decoration: none;
  color: black;
}

.categ_svg_icon_style {
  display: flex;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
}

p {
  font-family: 'Poppins', Courier, monospace;
  font-size: 1.3em;
  font-weight: 500;
  margin: 0;
  padding: 0 0 0 0.4em;
}

.mat-nav-list-btns, .dashboard_sub_btn, .ManualReg_sub_btn  {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  padding: 0.9em 0 0.9em 0.5em;
}

//dashboard sub button
.dashboard_sub_btn, .ManualReg_sub_btn{
  padding: 0.9em 0 0.9em 1.5em;

}
.dashboard_sub, .ManualReg_sub{
  display: flex;
  flex-direction: column;

  // dashboard sub btn
  .dashboard_sub_btn_icon, .ManualReg_sub_btn_icon{
    width: 1.5em;
    height: 1.5em;

  }

  .dashboard_sub_btn_txt, .ManualReg_sub_btn_txt{
    font-size: 1em;
  }
}


.mat-nav-list-btns:hover {
  transition-duration: 0.4s;
  background-color: #FF6969;
  color: #FAF2F2;
}

.sidenav-container {
  height: 100%;

}

.sidenav {
  width: 200px;
  background-color: #FAF2F2;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.custom-toolbar {
  background-color: #ffffff;
  height: fit-content;
  display: flex;
  padding-left: 0px;
  padding-right: 0px;
}

.toolbar-elements {
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.left-elements {
  display: flex;
  flex-direction: column;
  margin-left: 10px
}

.page-header {
  font-size: 25px;
  display: flex;
  position: relative;
  line-height: 25px;
  color: black;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.date-container {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  align-items: center;
  position: relative;
  line-height: 22px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.right-elements {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

// .custom-toolbar div {
//   margin-top: -5px;
//   margin-bottom: -5px;
//   padding: 0;
// }

/* app-navigation.component.scss */


.day {
  color: red;
  /* Red color for the day */
  margin-right: 5px
}

.date {
  color: rgb(148, 148, 148);
  /* Gray color for the date */
}

// title
.main_title-header{
  margin: 25px 0 0 20px;
  background-color: #FF6969;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 42px);

  .title-header {
    padding: 20px 0 20px 0;
    margin: 0;
    font-family: 'Poppins', Courier, monospace;
    color: #FFFFFF;

    .PAL-span {
      font-weight: 600;
    }
  }
}

//bell-icon
.bell-icon{
  cursor: pointer;
}
//red-notif
.button-badge {
  background-color: #fa3e3e;
  border-radius: 10px;
  width: 1rem;
  height: 1rem;
  position: absolute; /* Position the badge within the relatively positioned button */
  top: 9px;
  right: 9px;

  color: white;
  font-family: 'Poppins', Courier, monospace;
  font-weight: 500;
  font-size: 0.9rem;
  
}