.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.custom-toolbar {
  height: fit-content;
  display: flex;
  padding-left: 0px;
  padding-right: 0px;
}

.toolbar-elements {
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.left-elements {
  display: flex;
  flex-direction: column;
  margin-left: 10px
}

.page-header {
  font-size: 25px;
  height: fit-content;
  display: flex;
  position: relative;
  line-height: normal;
}

.date-container {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  align-items: center;
  position: relative;
  line-height: normal;
}

.right-elements {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

// .custom-toolbar div {
//   margin-top: -5px;
//   margin-bottom: -5px;
//   padding: 0;
// }

/* app-navigation.component.scss */


.day {
  color: red; /* Red color for the day */
  margin-right: 5px
}

.date {
  color: rgb(148, 148, 148); /* Gray color for the date */
}