<section class="main-container">
  <app-search></app-search>
  <div class="penalty-container">
    <div class="user-info">
      <div class="profile-user-name-id">
        <!-- id logo -->
        <div class="profile">CD</div>
        <!-- end of Id logo -->

        <!-- username n ID -->
        <div class="user-name-id">
          <div class="user-name">Charles Henricks Dela Pena</div>
          <div class="user-id">222-3333-222</div>
        </div>
        <!-- end of username n ID -->
      </div>

      <!-- Penalty -->
      <div class="penalty-counter">
        <p class="num-penalties">Number of Penalties: <span>50</span></p>
      </div>
      <!-- end Penalty -->

      <!-- select user -->
      <div class="select-user">Select User</div>
      <!-- end of select user -->
    </div>
  </div>
</section>
