<section class="main__container">
    <!-- input information/s -->
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <div class="main__container__grid">
        <div class="main__textforms">
          <!-- Basic Information -->
          <div class="main__basicinformation">
            <p class="main__information__texttitles">Basic Information</p>
            
            <!-- ID number -->
            <div class="sub-container">
              <p class="information__texttitles">ID Number<span>*</span></p>
              <mat-form-field>
                <mat-label>e.g. 22-2222-222</mat-label>
                <input matInput type="text" formControlName="IDNo"/>
              </mat-form-field>
            </div>
    
            <!-- full name -->
            <div class="sub-container">
              <p class="information__texttitles">Full Name<span>*</span></p>
              <mat-form-field>
                <mat-label>e.g. John T. Doe</mat-label>
                <input matInput type="text" formControlName="Fullname"/>
              </mat-form-field>
            </div>
    
            <!-- Email Address -->
            <div class="sub-container">
              <p class="information__texttitles">Email Address<span>*</span></p>
              <mat-form-field>
                <mat-label>e.g. john@gmail.com</mat-label>
                <input matInput type="email" formControlName="email"/>
              </mat-form-field>
            </div>
    
            <!-- Password -->
            <div class="sub-container">
              <p class="information__texttitles">Password<span>*</span></p>
              <mat-form-field>
                <mat-label>Must be more than 6 characters</mat-label>
                <input matInput type="password" formControlName="password"/>
              </mat-form-field>
            </div>
    
            <!-- Confirm Password -->
            <div class="sub-container">
              <p class="information__texttitles">Confirm Password<span>*</span></p>
              <mat-form-field>
                <mat-label>Must be more than 6 characters</mat-label>
                <input matInput type="password" formControlName="confirmPassword"/>
              </mat-form-field>
            </div>
          </div>
          <!-- end of Basic Information section -->
  
        <!-- Vehicle Information -->
        <div class="main__basicinformation">
          <p class="main__information__texttitles">Vehicle Information</p>
  
          <!-- Make -->
          <div class="sub-container">
            <p class="information__texttitles">Make<span>*</span></p>
            <mat-form-field>
              <mat-label>Make</mat-label>
              <input matInput type="text" formControlName="VMake"/>
            </mat-form-field>
          </div>
  
          <!-- Model -->
          <div class="sub-container">
            <p class="information__texttitles">Model<span>*</span></p>
            <mat-form-field>
              <mat-label>Model</mat-label>
              <input matInput type="text" formControlName="VModel"/>
            </mat-form-field>
          </div>
  
          <!-- Plate Number -->
          <div class="sub-container">
            <p class="information__texttitles">Plate Number<span>*</span></p>
            <mat-form-field>
              <mat-label>Plate Number</mat-label>
              <input matInput type="text" formControlName="VPlateNo"/>
            </mat-form-field>
          </div>
        </div>
        <!-- end of vehicle section -->
        </div>
          
  
        <!-- Upload Required Documents Section -->
        <div class="main__uploadreqdoc">
          <p class="main__information__texttitles">Upload Required Documents</p>
          <div class="information__texttitles">
            Owner's Registration (OR)<span>*</span>
          </div>
          <input class="upload-box" type="file" accept="image/*" (change)="ORFile($event)"/>
          <div class="information__texttitles">
            Certificate of Registration (CR) Document<span>*</span>
          </div>
          <input class="upload-box" type="file" accept="image/*" (change)="CRFile($event)"/>
          <div class="information__texttitles">
            Proof of Current Study Load<span>*</span>
          </div>
          <input class="upload-box" type="file" accept="image/*" (change)="SLFile($event)"/>
          <div class="information__texttitles">
            Identification (ID) document<span>*</span>
          </div>
          <input class="upload-box" type="file" accept="image/*" (change)="IDFile($event)"/>
          <div class="information__texttitles">
            Payment Confirmation<span>*</span>
          </div>
          <input class="upload-box" type="file" accept="image/*" (change)="PaymentFile($event)"/>
          <!-- Submit application -->
          
          <!-- End ofSubmit application -->
        </div>

        
        <!-- End ofUpload Required Documents Section -->
        <div class="submit-button">
          <button mat-raised-button type="submit">Submit Application</button>
        </div>
      </div>
      
    </form>
  </section>
  
  <!-- <div>
          <label for="upload-button">
            Browse Image
          </label>
          <p id="file-name" for="file-name"></p>
        </div> -->
  <!-- <div>Certificate of Registration (CR) Document<span>*</span></div>
        <input type="file" id="CR" accept="image/*">
        <div>Proof of Current Study Load<span>*</span></div>
        <input type="file" id="study_load" accept="image/*">
        <div>Identification (ID) document<span>*</span></div>
        <input type="file" id="id_document" accept="image/*">
        <div>Payment Confirmation<span>*</span></div>
        <input type="file" id="payment_confirmation" accept="image/*"> -->
  