<section class="heading">
  <div class="heading-info">
    <p>Privacy Policy</p>
    <h2>How we handle your data</h2>
  </div>
</section>

<section class="subheading">
  <div class="main-container">

    <div class="illustration">
        <img
          class="side-privacy"
          src="../../../assets/svg/letter.svg"
          alt="privacy-illustration"
        />
      </div>


    <div class = "welcome">
      <h2>Welcome to ParkPal,</h2>
      <p>
        This Privacy Policy (also known as Privacy Notice) explains how our
        organization uses the personal data we collect from you when you use our
        website.
      </p>

      <p>
        We respect your privacy and we aim to comply with the requirements of
        Republic Act 10173 (Data Privacy Act of 2012).
      </p>
    </div>
  </div>

  <div class="data-handling">
    <h2>Data Handling</h2>
    <div class="dhandling-info">
      <h3>What data do we collect?</h3>
      <p><strong>ParkPal</strong> collects the following data:</p>
      <ul>
        <li>Personal Identification Information</li>
        <li>Name</li>
        <li>Email Address</li>
        <li>Phone Number</li>
        <li>Site Usage Data</li>
        <li>School ID Details</li>
        <li>Vehicle Details</li>
      </ul>
    </div>

    <div class="collect-data">
      <div class="cdata-info">
        <h3>How do we collect your data?</h3>
        <p>
          You directly provide ParkPal with most the data we collect. We collect
          data and process when you:
        </p>
        <ul>
          <li>Create an account</li>
          <li>User or view our website</li>
          <li>
            Voluntarily complete a customer survey or provide feedback on any of
            our survey questionnaires
          </li>
        </ul>
      </div>
    </div>

    <div class="collect-data">
        <div class="cdata-info">
          <h3>How do we use your data?</h3>
          <p>
            <strong>ParkPal</strong> collects your data so that we can:
          </p>
          <ul>
            <li>Manage your account</li>
            <li>Email you with site updates, announcements, and promotions</li>
            <li>
              Continuously improve our website
            </li>
          </ul>
        </div>
      </div>








  </div>
</section>
