<div class="main-container">
  <div class="user-header">
    Name Placed here (User-ID)

    <!-- Buttons -->
    <button id="accptBtn" class="accept-btn">Accept</button>
    <button id="rejctBtn" class="reject-btn">Reject</button>
    <!-- end of Buttons -->
  </div>
  <br />
  <div class="user-body">
    <!-- txt documents -->
    <div class="text-documents">
      <!-- email -->
      <div class="document-container">
        <div class="doc-infotxt">
          <span>Email </span>
        </div>
        nDiaz.MEil.Chuy@gmail.com
      </div>
      <!-- Vehicle Make -->
      <div class="document-container">
        <div class="doc-infotxt">
          <span>Vehicle Make </span>
        </div>
        Sample Car
      </div>
      <!-- Vehicle Model -->
      <div class="document-container">
        <div class="doc-infotxt">
          <span>Vehicle Model </span>
        </div>
        Porche Mazda
      </div>
      <div class="document-container">
        <div class="doc-infotxt">
          <span>Vehicle Plate Number </span>
        </div>
        GAB-323479
      </div>
    </div>

    <!-- image docs -->
    <div class="image-documents">
      <!-- OR documents -->
      <div class="document-container">
        <span>OR Document</span>
        <div class="documents">
          <img src="" alt="OR Document" />
        </div>
      </div>

      <!-- CR document -->
      <div class="document-container">
        <span>CR Document</span>
        <div class="documents">
          <img src="" alt="CR Document" />
        </div>
      </div>

      <!-- Study Load document -->
      <div class="document-container">
        <span>Study Load</span>
        <div class="documents">
          <img src="" alt="Study Load" />
        </div>
      </div>

      <!-- ID document -->
      <div class="document-container">
        <span>ID Document</span>
        <div class="documents">
          <img src="" alt="ID document" />
        </div>
      </div>
      <!-- Payment document -->
      <div class="document-container">
        <span>Payment</span>
        <div class="documents">
          <img src="" alt="Payment" />
        </div>
      </div>
    </div>
  </div>
</div>
